body {
  background: #d8cece;
  color: #fff;
  /* font-family: 'open-sans, sans-serif'; */
  line-height: 1em;
  margin:0;
  padding:0;
 }
 /* COMMON CLASSES */
 .primary-text{

 }
 .primary-background{

 }
  /* NAVBAR */

.navbar {
  text-transform:uppercase;
  border-bottom: #d60808 3px solid;
  opacity: 0.9;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 100px;
  background: #fff; 
}
  .navbar li{
    display:inline;
    /* padding-right: 5px; */
    list-style:none;
  }
  .navbar a{
    text-decoration: none;
    
  }

.navbar-toggler-icon.icon-bar {
  background:#eb0909 !important;
  
}
.navbar-brand {
  color: #d60808; }

.navbar-brand :hover {
  color: #d60808; }

.nav-item .nav-link {
  color: #333 ;
  
}
.navbar .nav-link:hover {
  color: #f00909 ;
  border-bottom: 1px solid #f00909;
 }

  .navbar a:hover {
    color: #e91010;
  }
  .navbar a{
    color: #d60808;
  }
  .navbar .dropdown-menu{
    background-color: rgba(121, 116, 116, 0.7); 
    
    opacity: 1;
  }
  .navbar .dropdown-item {
   
    color: #fff; 
    opacity: 1;
  }
  .navbar .dropdown-item a:hover {
    color: #fff; 
    opacity: 1;
  }
 


#home-section {
  background: url("../img/home.jpg") no-repeat center center;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(121, 116, 116, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
    .header-content{
      z-index: 2;
  }
  
  .header-content h1{
    margin-top: 0 !important;
      font-size: 50px;
      padding: 0;
      text-align: center;
     
  }
  .header-content p{
      font-size: 1.5rem;
      text-align: center;
      display: block;
      margin:1rem;
      line-height:2rem;
      /* padding-bottom: 1rem; */
  }
  .btn{
      background: darkturquoise;
      color: rgb(236, 236, 236);
      font-size: 1.2rem;
      padding: .5rem 1rem;
      text-decoration: none;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
       /* margin-left: auto;  */
      /* margin-left: 30rem; */
  }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
    .card{
     padding: 0;
    }
   

   .card-title {
      color:rgb(214, 8, 8);
      text-align: center;
      letter-spacing: 1px;
    }
   .card-subtitle{
      color:#333;
      text-align: center;
    }
   p{
      color:#333;
      text-align: center; 
      padding-bottom: 0;
    }
    .carousel-control-next {
    margin-right: 230px;  
    }
    .carousel-control-prev {
      margin-left: -30px;
        
      }

     /* .glyphicon .glyphicon-chevron-left .glyphicon-chevron-right{
        z-index: 3 !important; 
         color:rgb(214, 8, 8) !important;
        fill:rgb(214, 8, 8) ;
      } */

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        /* outline: black; */
        background-size: 100%, 100%;
        /* border-radius: 50%; */
        /* border: 1px solid black; */
        background-image: none;
      }
      
      .carousel-control-next-icon:after
      {
        content: '>';
        font-size: 55px ;
        color: red;
      }
      
      .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
         color:red; 
        
      }
   #features h2{
     color: #333;
     font-size: 35px;
     margin:0;
     padding-bottom: 10px;
   }
   #features p{
    color: #888;
    margin:0;
   /* margin-bottom:25px; */
  }
  #features .fa{
   font-size: 30px;
   color: rgb(214, 8, 8);
  }
  #create-section h3{
    padding:1em 1em;
  }

  #main-footer {
    background: url("../img/footerimage.jpeg") no-repeat center center;
    color:#fff;
    background-size: cover;
  }
  #main-footer i{
    padding-right: 25px;
  }
  #main-footer h4 {
  font-size: 25px;
  font-size: 25px;
  margin:0;
  padding-bottom: 10px;
  }
  #main-footer ul{
    list-style:none;
    padding:0;
  }
  #main-footer li{
    line-height: 2em;
    font-size: 20px;
  }

    #main-footer p {
      color: #fff;
      text-align: center;
      font-size: 20px;
      /* padding-left: 200px; */
    }
    #main-footer .btn{
      text-decoration: none;
     
    }
    #sub-footer p{
      background:  rgb(214, 8, 8);
      color:#fff;
      background-size: cover;
      margin: 0;
      padding:0;
    }
    @media (max-width:300px){
      .navbar-toggler-icon.icon-bar {
       padding:20px;
        
      }
      .navbar-brand {
        padding-left:15px;
      }
      
      .card-title {

        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 0;
        margin-left:0 !important;
        margin-right:0 !important;
      }
      .card-subtitle h5{
        /* margin:0 !important; */
        font-size: 1rem;
      }
     
      .card p{
        font-size: .8rem;
        text-align: left; 
        padding-bottom: 0;
        margin-bottom: 0;
      }
     
     
      #features h2{
        margin-top:20px;
        font-size:1.8rem;
      }
    
    }
    @media (max-width: 460px) { 
      header-content h1{
        font-size: 30px;
        padding: 40px 10px;
      }
      .header-content p {
        font-size: 1rem;
        text-align: left;
        display: block;
        padding-bottom:0;
        margin:0;
        line-height:1rem;
      }
    .btn{
      font-size: 0.8rem;
      padding: .5rem 1rem;
      text-decoration: none;
      padding-bottom: 1rem;
      margin-bottom:0.5rem;
      /* margin-left:4rem; */
      
  }
  /* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */
 
  .card-title {
    text-align: center;
    letter-spacing: 1px;
  }
 
  .card p{
    
    text-align: left; 
    padding-bottom: 0;
  }
  .carousel-control-next-icon:after
  {
    margin-left:190px !important;
  }
  
  .carousel-control-prev-icon:after {
    margin-left:70px !important;
    
  }

    }
     /* @media(min-width:500px){
      .card {
        margin-right:0;
      }
    } */
    @media(max-width:765px){
      .carousel-control-next-icon:after {
        margin-left:100px !important;
     }
 
     .carousel-control-prev-icon:after {
       margin-left:100px !important;
   
     }
    } 
    @media(max-width:990px){
      .carousel-control-next-icon:after {
        margin-left:280px !important;
     }
 
     .carousel-control-prev-icon:after {
       margin-left:20px !important;
   
     }
    } 
       
    @media (max-width: 760px) { 
      .navbar{
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .navbar h4{
        font-size: 20px;
      }
      .navbar-brand {
        width: auto;
        float: none;
        border-bottom: 0 solid transparent;
        margin: 0 -15px;
      }  
      .navbar-toggler {
        float: left;
      }
      .header-content p {
        font-size: 1rem;
        display: block;
        padding-bottom:0;
        margin:1rem;
        line-height:1rem;
      }
      #home-section h1{
        font-size: 40px;
      }
      #sub-footer p {
        font-size: 10px;
      }
    } 
   
    @media (min-width: 768px) { 
     
      /* show 3 items */
      .carousel-inner .active,
      .carousel-inner .active + .carousel-item,
      .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
      }
    
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
      .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item,
      .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item
        + .carousel-item {
        transition: none;
      }
    
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
      }
    
      .carousel-inner
        .active.carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
      }
    
      /* left or forward direction */
      .active.carousel-item-left + .carousel-item-next.carousel-item-left,
      .carousel-item-next.carousel-item-left + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
      .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
    
      /* farthest right hidden item must be abso position for animations */
      .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
      }
    
      /* right or prev direction */
      .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
      .carousel-item-prev.carousel-item-right + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
      .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
      }
    }
    
